
/android-support-v7-appcompat
/.metadata
/Sample/ic_launcher-web.png
/Sample/.settings
/Sample/bin
/Sample/gen
/Sample/libs
/Sample/.classpath
/Sample/.project
/ToastTip/.classpath
/ToastTip/.project
/ToastTip/.settings
/ToastTip/bin
/ToastTip/gen